.inputSearch{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    float: left;
    background-color: #eee;
    width: 85%;
}
.buttonSearch{
    height: 38px;
    background-color: white;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.hotSearch{
    margin: 40px 0 10px 0 ;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.hotSearchItem{
    background-color: #eee;
    padding: 8px;
    color: #6f6f6f;
    margin:0 10px 10px 0
}
