/*DingDan-Style*/
.CardOutSet{
    padding: 10px 15px 0px 15px;
    height: 150px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content:center;
}

.CardShopIcon{
    height: 45px;
    width: 45px;
    background: #239e9e;
    margin-right: 10px;
    border-radius: 2%;
}

.CardInsideRight{
    flex: 1;
    flex-direction:column;
    height: 100%;
    border-bottom: 0.5px solid rgba(224, 224, 224, 0.95);
    display: flex;
    background-color: rgb(255, 255, 255);
}

.CardInsideRighchild1{
    flex: 1;
    display: flex;
    
}

.CardInsideRighchild2{
    flex: 1;
    display: flex;
    
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.CardInsideRighchild3{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*background-color: rgb(29, 206, 197);*/
}

.Carildbtn{
margin-left: 10px;
}

.ArrowRight{
	width: 10px;
	height: 10px;
	border-top: 1px solid rgb(112, 112, 112);
	border-right: 1px solid rgb(112, 112, 112);
	transform: rotate(45deg);
}

.status{
    margin-top: 2px;
    margin-left:auto;
    font-size: 10px;
}

.MainInf{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2px;
}

.MaininfTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}

.ShopName{
    font-weight:400;
    font-size:16px;
    vertical-align: middle;
}

.Time{
    margin-top: 5px;
    font-size: 5px;
    align-self:flex-start;
}

a{
    color: black;
}

#ItemInfDad{
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 100%;
width: 100%;
background-color: rgb(233, 230, 230);
}

.title_status{
align-self: flex-start;
margin: 20px 0px 20px 10px;
}

#back_btn{
align-self: flex-start;
margin: 20px 0px 0px 10px;
}

.food_item{
    display: flex;
    justify-content: space-between;
    /* margin: px 20px; */
    padding: 5px 0px;
}

.img_border{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 0.6px solid rgba(112, 112, 112, 0.301);
    box-sizing: border-box;
}

.Inf_card{
    padding: 10px 10px;
    margin: 10px 15px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.flexleft{
    align-self: flex-start;
    text-align: left;
    padding: 5px 0px;
}

.float_foodname{
    margin-right:auto;
    margin-left: 10px;
}

.span_font_mid{
    line-height:40px;
    height: 40px;
}

.orderItem{
    
}

/*DingDan-Style*/