#shop{
    position: fixed;
    top:0px;
    width: 100%;
    background: rgba(16,142,233,1);
}
#header{
    width: 100%;
    height: 30%;
    background: url("../../img/find/bg.jpg") center center;
    text-align: left;
}
#header .header_shop{
    padding-top: 4%;
    width:100%;
    display: flex;
    justify-content: left;
}

#header .header_shop .header_shop_msg{
    width: 67%;
    font-size: 15px;
    color:white;
    margin-left:5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#header .header_shop .header_shop_arrow{
    color: white;
    width: 10%;
    display: flex;
    align-items: center;
}
#header .header_reduce{
    font-size: 15px;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#container{
    height: 62%;
}
#container .commodity{
    height: 100%;
}
#container .commodity .title{
    padding: 5% 3%;
    background: #f5f5f5;
}
#container .commodity .items{
    width: 100%;
    text-align: left;
    display: flex;
    margin-bottom: 4%;
    height: 91px;
}
#container .commodity .stepper{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 100%;
    background: #3090E8;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
#container .commodity .stepvalue{
    display: inline-block;
    width: 30px;
    text-align: center;
    border: none;
}
#footer{
    width: 100%;
    background: #3D3D3F;
    height: 8%;
    position: fixed;
    bottom: 0px;
}
#footer .sub{
    float: right;
    height: 100%;
    width: 120px;
    background: #535356;
    line-height: 50px;
    text-align: center;
    color:white;
    font-size: 15px;
}
#footer .shopcaricon{
    width:80%;
    margin:0 10%;
    position: relative;
    top: -20px;
}
#footer .spend{
    color: white;
    width:20%;
    height: 100%;
    float:left;
    text-align:left;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
