#shop{
    position: fixed;
    top:0px;
    width: 100%;
    background: rgba(16,142,233,1);
}
#header{
    margin-top: 45px;
    width: 100%;
    height: 150px;
    border: 1px solid red;
    background: url("../../img/find/bg.jpg") center center;
    text-align: left;
}
header_shop{

}

